//stylus -c -r -u jeet -u rupture -w C:\Projects\homework\site.styl -o C:\Projects\homework
@import 'jeet'
*
	margin 0
	padding 0
	font-family 'Arial'
	color #6c6c6c
.wrapper
	max-width 1280px
	width 95%
	margin 0 auto
header
	background #005084
	background -webkit-linear-gradient(#005084 50%, #01436f 50%)
	background -o-linear-gradient(#005084 50%, #01436f 50%)
	background -moz-linear-gradient(#005084 50%, #01436f 50%)
	background linear-gradient(#005084 50%, #01436f 50%)
	padding 12px 0
	nav
		img
			height 25px
div.main-content
	div.sub-logo
		text-align center
		margin-top 2em
		img
			max-height 75px
			display block
			margin 0 auto
		span	
			font-weight bold
	ul.tabs
		margin 2em 0 0 0
		padding 0
		list-style none
		overflow hidden
		li
			display block
			background #f5f5f5
			border 1px solid #e2e2e2
			+above(480px)
				float left
				&:first-of-type
					border-radius 10px 0 0 0
				&:last-of-type
					border-radius 0 10px 0 0
			a
				display block
				padding 1em 				
				text-decoration none
				font-size 14px
		.selected
			background #fff
			border-bottom 1px solid #fff
	section.main
		border-top 1px solid #e2e2e2
		padding 2em 0
		margin-top -1px
		div.menu
			+above(801px)
				column(1/4, gutter:2)
			h3
				margin-bottom 1em
				color #005184
		ul.left-menu
			padding 0 
			margin 0
			list-style none
			li
				display block
				border-bottom 1px solid #e2e2e2
				a
					display block
					padding 1em
					text-decoration none
					color #005184
			.selected
				background #f5f5f5
		div.description
			padding 1em
			+above(801px)
				padding 0
				column(3/4)